name: Typescript

on: [pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      # Reinstall in typescript dir to fix npm optional dependency bug
      # See: https://github.com/npm/cli/issues/4828
      - name: install typescript deps
        run: npm ci
        working-directory: ./typescript
      - name: test pkg
        run: npm test
        working-directory: ./typescript
